aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
av
certifi
click
colorama
coloredlogs
distro
exceptiongroup
flatbuffers
frozenlist
h11
httpcore
httpx
humanfriendly
idna
jiter
livekit
livekit-agents
livekit-api
livekit-plugins-deepgram
livekit-plugins-openai
livekit-plugins-silero
livekit-protocol
mpmath
multidict
numpy
onnxruntime
openai
packaging
pillow
protobuf
psutil
pydantic
pydantic_core
PyJWT
pyreadline3
python-dotenv
sniffio
wheel==0.37.1
setuptools==58.0.0
flask==2.0.1